/* General */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: #dddfeb;
    background-image: url('../img//bg.png');
}

#root {
    height: 100vh;
}

.navbar-brand:hover {
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
}

.rubik-project {
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #00D1FF;
}

.fa-dice-d20 {
    color: #b8117b;
}

.card {
    border: 0px;
    background: none;
}

.btn {
    color: #fff;
    transition: all 0.7s;
}

.btn:hover {
    color: #bebebe;
}

.divider {
    width: 20%;
    height: 3px;
    background-color: #000;
}

.transparent {
    background: none !important;
}

/* Login page */

/* Navbar */
@media(max-width: 992px) {
    .navbar {
        background-color: #353434;
        box-shadow: 0px 15px 10px -15px #111;
    }
}

#main {
    animation-duration: 3s;
    animation-iteration-count: 1;
}

#login {
    margin-top: 200px;
}

.dice-icon {
    font-size: 15rem;
    color: #b8117b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-user:hover {
    color: #fff;
}

.btn-google:hover,
.btn-facebook:hover {
    color: #bebebe;
}

/* Dashboard page */

.card-header {
    background-color: #3a3b45;
    border-radius: 0.5rem;
}

.card-body {
    background-color: #5a5c69;
    border-radius: 0 0 0.5rem 0.5rem;
}

.dropdown-menu {
    background-color: #3a3b45;
}

.dropdown-item {
    color: #eaecf4;
    background-color: #3a3b45;
}

a {
    color: #00D1FF;
}

a:hover {
    color: #000;
}

/*a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #bebebe;
}*/

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #6e707e;
}

.paginate_button {
    background-color: #3a3b45;
}

.collapse-item {
    color: #eaecf4;
}

.collapse-item:hover {
    cursor: pointer;
    color: #000;
}